apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
  - apiGroups: ["*"]       # All API groups
    resources: ["*"]       # All resources
    verbs: ["*"]           # All actions (get, list, watch, create, update, delete, etc.)