---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: netmakerops.network.netmaker.io
spec:
  group: network.netmaker.io
  names:
    kind: NetmakerOps
    listKind: NetmakerOpsList
    plural: netmakerops
    singular: netmakerops
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: NetmakerOps is the Schema for the netmakerops API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NetmakerOpsSpec defines the desired state of NetmakerOps
            properties:
              foo:
                description: Foo is an example field of NetmakerOps. Edit netmakerops_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: NetmakerOpsStatus defines the observed state of NetmakerOps
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
