name: Publish Docker

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'docker tag'
        required: true
      update_latest:
        description: 'Also tag as latest'
        type: boolean
        default: false
  workflow_call:
    inputs:
      tag:
        type: string
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set tag
        run: |
            if [[ -n "${{ inputs.tag }}" ]]; then
              TAG=${{ inputs.tag }}
            elif [[ "${{ github.ref_name }}" == 'master' ]]; then
              TAG="latest"
            else
              TAG="${{ github.ref_name }}"
            fi
            echo "TAG=${TAG}" >> $GITHUB_ENV
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build tags list
        id: tags
        run: |
          echo "tag1=${{ github.repository }}:${{ env.TAG }}" >> $GITHUB_OUTPUT
          if [ "${{ inputs.update_latest }}" == "true" ]; then
            echo "tag2=${{ github.repository }}:latest" >> $GITHUB_OUTPUT
          fi
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ${{ steps.tags.outputs.tag1 }}
            ${{ steps.tags.outputs.tag2 }}
